body {
  background-color: black;
  width: 100%;
}

#page-content-wrapper {
  text-align: center;
}

header {
  background-color: grey;
  color: whitesmoke;
  font-size: 50px;
  margin-left: -5%;
  margin-right: -5%;
  margin-top: -2%;
  /*width: 100%;*/
  text-align: center;
}

.sign-up {
  margin-top: 1%;
  margin-right: 4%;
  overflow: auto;
}

#sidebar-wrapper {
  padding: 1%;
}

#feed-area {
  width: 100%;
}

#feed-1 {
  border-color: silver;
  border-radius: 25%;
  border-style: outset;
  border-width: 5px;
  color: pink;
  display: none;
  margin-right: 5px;
  overflow: auto;
  padding: 3%;
  text-align: center;
  width: 100%;
}

#feed-2 {
  border-color: silver;
  border-radius: 25%;
  border-style: outset;
  border-width: 5px;
  color: skyblue;
  display: none;
  overflow: auto;
  padding: 3%;
  text-align: center;
  width: 100%;
}

#feed-3 {
  border-color: silver;
  border-radius: 25%;
  border-style: outset;
  border-width: 5px;
  color: #00ff00;
  display: none;
  margin-left: 5px;
  margin-right: -10px;
  overflow: auto;
  padding: 3%;
  text-align: center;
  width: 100%;
}

footer {
  background-color: orange;
  margin-left: -3%;
  margin-right: -10%;
  margin-top: 10%;
  overflow: visible;
  padding: 3%;
  text-align: center;
  width: 150%;
}

